body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 18px;
  text-transform: uppercase;
}

.main {
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    padding-top: 2rem;
    background: linear-gradient(rgb(55, 65, 81), rgb(17, 24, 39));
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    padding-top: 2rem;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.intro-container {
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;

    button {
        color: black;
        text-transform: uppercase;
        max-width: 50%;
        margin-top: 2rem;
    }
}
.textarea {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    background-color: transparent;
    padding: 0.75rem;
    color: rgb(255 255 255);
}
.logo {
    max-width: 250px;
}

.textarea-container {
    flex: 1; /* Takes remaining space */
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.textarea {
    flex: 1;
    min-height: 300px;
    resize: none;
}

.game {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}
.game-list {
    margin-top: 1rem;
}
.game-list li + li {
    margin-top: 2rem;
}
.game-details * + *{
    margin-top: 0.25rem;
}
.game-recommendation-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: lightgray;
}
.game-list-container {
    width: 100%;
}