body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 18px;
  text-transform: uppercase;
}

.main {
  padding-top: 2rem;
  background: linear-gradient(rgb(55, 65, 81), rgb(17, 24, 39));
  min-height: 100vh;
}

.intro-container {
  color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;

  button {
    color: black;
    text-transform: uppercase;
    max-width: 50%;
    margin-top: 2rem;
  }
}
.textarea {
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  background-color: transparent;
  padding: 0.75rem;
  color: rgb(255 255 255);
}
.logo {
  max-width: 250px;
}

.textarea-container {
  flex: 1; /* Takes remaining space */
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.textarea {
  flex: 1;
  min-height: 300px;
  resize: none;
}

.game {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
.game-list {
  margin-top: 1rem;
}
.game-list li + li {
  margin-top: 2rem;
}
.game-details * + * {
  margin-top: 0.25rem;
}
.game-recommendation-title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: lightgray;
}
.game-list-container {
  width: 100%;
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  @media (max-width: 1012px) {
    flex-direction: column;
    align-items: center;
  }
}

.nav-logo {
  display: flex;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;

  @media (max-width: 1012px) {
    justify-content: center;
    gap: 1rem 1.5rem;
  }
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
}

.nav-links-link {
  text-transform: uppercase;
  padding-bottom: 5px;
  text-decoration: none;
  color: #d4a17b;
  display: block;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.nav-links .nav-button {
  padding: 15px;
  border: 2px solid #d4a178;
  background: transparent;
  color: #d4a178;

  &:hover {
    background: #d4a178;
    color: black;
  }
}

.site-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 78rem;
  padding-bottom: 2.5rem;
}

.site-banner {
  padding: 1rem 0;
  background: #CA3B3C;
}

.site-banner-inner a {
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}

.site-banner-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 78rem;
  text-align: center;
  color: #fff;
}
